<div id="seeGridContainer" class="container-fluid">
    <div>
        <h3>Since 2002, the United States government has attacked thousands of targets in Northwest Pakistan using unmanned aerial vehicles (drones) controlled by the Central Intelligence Agency's Special Activities Division. Most of these attacks are on targets in the Federally Administered Tribal Areas along the Afghan border in Northwest Pakistan.
		<br>
		<br>
		The Grid represents 30 (randomly selected) recorded drone strikes. If you click an image, it will show you some details about the drone strike and it wil also show you what the different prayer times happened to be for the day of that particular drone strike. </h3>
    </div>
</div>
