body {
	background-image: url("../images/marble.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.page-header {
	font-family: 'Orbitron', sans-serif;
	padding: 1%;
	background-color: gray;
	border-top: black 5px solid;
	border-bottom: black 5px solid;
}

.image {
	display:inline-block;
	float:left;
}

.title {
	display:inline-block;
}

#topOfPage {
	margin: 0 5%;
	padding: 20px;
}

#seeGridContainer {
	margin: 0 25% 5%;
	padding: 25px;
	border-color: black;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	background-color: black;
	color:white;
}

#about {
	font-family: 'Orbitron', sans-serif;
	font-size: 5em;
	color: gray;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

#seeGrid {
	font-family: 'Orbitron', sans-serif;
	font-size: 5em;
	color: gray;
	padding: 30px;
background-color: rgba(255, 255, 255, 0.5);
}



